:root{
    --verde-escuro: #3D944B;
    --verde-medio: #73E085;
    --verde-claro: #9CFFAC;
    --vinho-escuro: #942E43;
    --vinho-claro: #E07289;
    --branco: #fefefe
}

body{
    width: 90%;
    margin: 0 auto;

    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;

    text-align: center;

    background-color: #73E085;
}

.main{
    width: 90%;
    margin: 1.5rem auto 0;
}

.titulo{
    display: flex;
    justify-content: center;

    margin-bottom: 1rem;
}

h1{
    margin-bottom: 2rem;

    width: fit-content;

    border-left: 4px solid whitesmoke;
    padding-left: 1rem;
    
}


.container {
    display: flex;
    justify-content: center;

    margin-bottom: 6rem;
}

.image{
    width: 20rem;
    height: 20rem;
    background: url("../images/melancia-aberta.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    animation-name: fade;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-delay: 1s;
}

@keyframes fade{
    0%{
        width: 20rem;
        height: 20rem;
        background: url("../images/melancia-aberta.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    100%{
        width: 20rem;
        height: 20rem;
        background: url("../images/melancia-fechada.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        }
}


.buttons{
    width: 295px;
    margin: 0 auto;
}

a{
    border: none;
    border-radius: 8px;

    width: 108px;

    text-decoration: none;

    background-color: var(--vinho-claro);

    font-family: "Montserrat", sans-serif;
    font-size: .6em;
    color: whitesmoke;

    padding: .5rem 1rem;

    transition: background .3s;

    margin-bottom: 1rem;
}

a:hover{
    color: var(--vinho-claro);
    background: var(--branco);
    font-weight: 500;
    border: 3px solid var(--vinho-claro);
}

/* IMAGE SHAKE DURING FADE */

/* () FIX SHAKING */