:root{
    --verde-escuro: #3D944B;
    --verde-medio: #73E085;
    --verde-claro: #9CFFAC;
    --vinho-escuro: #942E43;
    --vinho-claro: #E07289;
    --branco: #fefefe;
    --grey-1: rgba(54, 55, 59, .9);
    --grey-2: rgb(30, 30, 30);
    --grey-3: rgb(31, 31, 31);
    --grey-4: rgb(30, 30, 31);
}

body{
    width: 100%;
    margin: 0 auto;

    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;

    text-align: center;

    background-color: #73E085;
}

.main{
    width: 90%;
    margin: 1.5rem auto 0;
}

.titulo{
    display: flex;
    justify-content: center;

    margin-bottom: 1rem;
}

h1{
    margin-bottom: 2rem;

    width: fit-content;

    border-left: 4px solid whitesmoke;
    padding-left: 1rem;
    
}


.container {
    display: flex;
    justify-content: center;

    margin-bottom: 6rem;
}

.image{
    background: url("../images/melancia-aberta.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    animation-name: alternateImages;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
}

@keyframes alternateImages{
    0%{
        background: url("../images/melancia-aberta.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    100%{
        background: url("../images/melancia-fechada.svg");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        }
}


.buttons{
    width: 295px;
    margin: 0 auto;
}

.buttons a{
    border: none;
    border-radius: 8px;

    width: 108px;

    text-decoration: none;

    background-color: var(--vinho-claro);

    font-family: "Montserrat", sans-serif;
    font-size: .6em;
    color: whitesmoke;

    padding: .5rem 1rem;

    transition: background .3s;

    margin-bottom: 1rem;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttons a:hover{
    background: var(--vinho-escuro);
    cursor: pointer;
}


.formSection{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--grey-1);
    display: none;
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: .3s;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.fadeOut{
    animation-name: fadeOut;
    animation-duration: .3s;
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.form{
    width: 404px;
    background: var(--branco);

    display: flex;
    flex-direction: column;

    font-size: 24px;

    border-radius: 20px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.returnArrow{
    background: url("../images/return-arrow-pink.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    position: relative;
    left: -10px;
}

.returnArrow:hover{
    cursor: pointer;
}

.form label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;

    color: var(--vinho-claro);

    width: fit-content;
    
}

.form input{
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    padding: 1em .7em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #9D9D9D;
    outline: none;
    width: 250px;
}



.form-button{
    width: 110px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    background: var(--vinho-claro);
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: .4em .4em;
    color: var(--branco);
    margin-bottom: 40px;

    transition: .2s ease;
    text-decoration: none;
}


.form-button:hover{
    cursor: pointer;

    background: var(--vinho-escuro);
}





/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
@media (min-width: 320px){

    .main{
        width: 90%;
    }

    .titulo h1{
        font-size: .7em;
    }

    .image{
        width: 3.5em;
        height: 3.5em;
    }

    .buttons{
        font-size: .9em;
        margin-top: 2em;
    }

    .form{
        width: 200px;
        margin: 3em auto 0;
        padding: 0em 0em 1em 2em;
    }

    .form label{
        font-size: .8em;
    }

    .form input{
        width: 160px;
        font-size: .5em;
    }

    .form-button{
        font-size: .7em;
        padding: .8em .4em;
    }

}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media (min-width: 375px){
    .titulo h1{
        font-size: .8em;
    }

    .image{
        width: 3.8em;
        height: 3.8em;
    }

    .buttons{
        font-size: 1em;
    }

    .form{
        width: 270px;
        margin-top: 3.5em;
    }

    .form label{
        font-size: .9em;
    }

    .form input{
        width: 200px;
        font-size: .6em;
    }

    .form-button{
        font-size: .8em;
        padding: .8em .4em;
    }
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media (min-width: 425px){
    .titulo h1{
        font-size: .9em;
    }

    .image{
        width: 4em;
        height: 4em;
    }

    .buttons{
        width: 350px;
        font-size: 1.2em;
    }

    .form{
        width: 320px;
    }

    .form label{
        font-size: 1em;
    }

    .form input{
        width: 250px;
    }

    .form-button{
        padding: .8em .4em;
    }
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media (min-width: 768px){
    .titulo h1{
        font-size: 1em;
    }

    .image{
        width: 5em;
        height: 5em;
    }

    .buttons{
        width: 400px;
    }

    .form{
        width: 400px;
        margin-top: 4em;
    }

    .form label{
        font-size: 1.1em;
    }

    .form input{
        width: 290px;
        font-size: .7em;
    }

    .form-button{
        font-size: 1em;
        padding: .8em .7em;
    }
    
}

@media (min-width: 1024px){
    .form{
        margin-top: 4.5em;
    }
    
} 

/* IMAGE SHAKE DURING FADE */

/* () FIX SHAKING */
/* () FIX MOBILE IMAGE SIZE */