/* LEFT CONTENT :HOVER:AFTER FEATURE */
.divTask:hover:before{
    content: "";
    width: 3px;
    height: 20px;
    opacity: 0;

    margin-right: 3px;
    
    background: var(--verde-escuro);

    display: inline-block;
    position: relative;
    top: 3px;
    transform: translate(-3px);

    animation: leftContentBlink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-delay: .3s;
}

.divTask{
    transition: margin .2s;
}

.divTask:hover{
    margin-left: 5px;
}

@keyframes leftContentBlink{
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


/* BOTTOM-BORDER BLINK */
.tarefa-li:hover{
    animation-name: borders;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation-delay: .5s;

    border-bottom: 4px solid rgb(61, 148, 75, .01);
}

@keyframes borders{
    0%{
        border-bottom: 4px solid rgb(61, 148, 75, .01);
    }

    50%{
        border-bottom: 4px solid rgb(61, 148, 75, 1);
    }

    100%{
        border-bottom: 4px solid rgb(61, 148, 75, .01);
    }
}